# Enable the RewriteEngine
RewriteEngine On

# Check if the requested URL does not point to a directory (!-d) and does not point to a file (!-f)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Rewrite the URL to pass it to index.php as a parameter while preserving query strings (QSA) and stop processing further rules (L)
RewriteRule ^(.+)$ index.php/$1 [L,QSA]

# HTID:22386050: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:22386050:
